html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#about {
  background-color: #00a89e;
  width: 100%;
  height: 450px;
}

#mHeader {
  position: relative;
  background-color: #93c556;
  width: 16%;
  margin: auto;
  top: 10px;
  height: 8%;
  margin-top: 7px;
}

#mHeader > h1 {
  text-align: center;
  margin: 0;
  font-size: 50px;
  color: #5d514a;
  font-family: Impact;
}

#menu {
  background-color: #5d514a;
  width: 100%;
  height: 600px;
}

#faq {
  background-color: #93c556;
  width: 100%;
  height: 400px;
  margin-top: 7px;
}

#fwrapper > p {
  text-indent: 150px;
  color: #3d281b;
  font-family: Calibri;
  font-size: 1.4em;
  margin:0;
}

#cwrapper > p {
  text-indent: 250px;
  color: #3d281b;
  font-size: 1.6em;
  margin: 0;
  font-family: Calibri;
}

#fHeader {
  position: relative;
  background-color: #00a89e;
  width: 16%;
  margin: auto;
  top: 10px;
  height: 50px;
  margin-top: 7px;
}

#fHeader > h1 {
  text-align: center;
  margin: 0;
  font-size: 50px;
  color: #93c556;
  font-family: Impact;
}

#fwrapper {
  float:left;
  width: 50%;
}

#cwrapper {
  float: left;
  width: 50%;
}
#menuList > div {
  float: left;
  width: 33%;
}

#menuList > div  {
  text-align: center;
  color: #ffffff;
}
#menuList > div > h1 {
  font-family: Impact;
}

#menuList > div > p {
  font-family: Calibri;
}

#aHeader {
    position: relative;
    background-color: #5d514a;
    width: 16%;
    margin: auto;
    top: 10px;
    height: 10%;
}

#aHeader > h1 {
  text-align: center;
  margin: 0;
  font-size: 50px;
  color: #00a89e;
  font-family: Impact;
}

#cHeader {
    position: relative;
    background-color: #00a89e;
    width: 28%;
    margin: auto;
    top: 10px;
    height: 50px;
    margin-top: 7px;
}

#cHeader > h1 {
  text-align: center;
  margin: 0;
  font-size: 50px;
  color: #93c556;
  font-family: Impact;
}
#about > img {
  position: relative;
  display: inline-block;
  max-height: 80%;
  margin: 0;
  left:  95px;
  top: 20px;
}

#about > div > p {
  font-size: 1.3em;
  position: relative;
  display: inline-block;
  font-family: Calibri;
  left: 800px;
  top: -350px;
  color: #3d281b;
}

#topBanner {
  background-color: #ffffff;
  width: 100%;
  height: 200px;
}

#topBanner > p {
  margin: 0;
}

#topBanner > img{
  position: relative;
  top: 10px;
  max-height: 85%;
  display: block;
  margin: auto;
}

#bottomBanner {
  background-color: #EFEFEF;
  width: 100%;
  height: 50px;
  margin: 0;
  margin-top: 7px;
}

#bottomBanner > p {
  margin: 0;
  text-align: center;
  font-family: Impact;
  color: #3d281b;
  font-size: 1.7em;
  margin-top: 10px;
}
